{{ template "header.html" .}}

<div class="row">
    <div class="col-md-12 panel panel-primary">
			<div class=""><h4><i id="memberCount" class="glyphicon glyphicon-user"></i> {{ .MaxCount }}人のメンバー</h4>
						{{ range $i, $member := .Members }}
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="media">
													<a class="media-left" id="memberLink{{ add $i 1 }}" href="/member/{{ $member.ID }}"><img id="memberImage{{ add $i 1 }}" class="img-rounded" width="40" height="40" src="/photo/{{ $member.ID}}"></a>
                        <div class="media-body" >
													<h2 class="element_title media-heading"><a id="memberNickName{{ add $i 1 }}" href="/member/{{ $member.ID }}">{{ $member.NickName }}</a></h2>
													<button type="button" class="btn btn-info btn-xs pull-right"><i class="glyphicon glyphicon-file"></i> <span id="memberArticleCount{{ add $i 1 }}" class="badge">{{ getArticleCount $member.ID }}</span></button>
                        </div>
                    </div>
                </div>
						{{ end }}
        </div>
    </div>
</div>
</div>

<div class="col-md-4"></div>
<div class="col-md-4">
    <nav>
        <ul class="pagination">
					  {{ if lt 1 .Page  }}
						<li><a id="pageBackLink" href="/members?page={{ add .Page -1 }}"><span>«</span></a></li>
						{{ end }}
						{{ $page := .Page }}
						{{ range $i, $j := for .MaxPage }}
						{{ $p := add $i 1 }}
						    {{ if eq $page $p}}
								<li class="active"><a id="currentPageLink" href="/members?page={{ $p }}">{{ $p }}</a></li>
								{{ end }}
						{{ end }}
					  {{ if lt .Page .MaxPage  }}
						<li><a id="pageNextLink" href="/members?page={{ add .Page 1}}"><span>»</span></a></li>
						{{ end }}
        </ul>
    </nav>
</div>
<div class="col-md-4"></div>






</body>
</html>
