<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Jiriqi:Team</title>
</head>

<body class="container">
<h1 class="jumbotron"><a href="/">Jiriqi:Team</a></h1>

<h2>新規登録</h2>

<div class="text-danger" id="logout-message">{{ .Message }}</div>

<div id="login-form">
    <form method="POST" action="/regist">
        <div class="col-md-4 input-group">
            <span class="input-group-addon">ユーザ名</span>
            <input class="form-control" type="text" name="username" placeholder="ユーザ名" />
        </div>
        <div class="col-md-4 input-group">
            <span class="input-group-addon">E-mail</span>
            <input class="form-control" type="text" name="email" placeholder="メールアドレス" />
        </div>
        <div class="col-md-4 input-group">
            <span class="input-group-addon">パスワード</span>
            <input class="form-control" type="password" name="password" placeholder="パスワード" />
        </div>
        <div class="col-md-1 input-group">
            <input class="btn btn-default" type="submit" name="Login" value="登録" />
        </div>
    </form>
</div>

</body>
</html>
